packages:
  dealii:
    require: +adol-c +arborx +arpack +assimp +cgal ~examples +ginkgo ~gmsh
             +gsl +hdf5 +kokkos +metis +mpi +muparser ~nanoflann +p4est +petsc
             ~python +scalapack +simplex +slepc +sundial +symengine +threads
             +trilinos
  hdf5:
    require: +fortran +cxx +hl
  petsc:
    require: +mumps +scalapack +suite-sparse +superlu-dist +p4est +ptscotch
  cgns:
    require: +fortran
  trilinos:
    require: +rol +mesquite +mumps +suite-sparse +superlu-dist
  libmesh:
    require: +boost +eigen +fparser +hdf5 +laspack +metis +perflog +petsc 
             +slepc +tetgen +triangle
  vtk:
    require: +python
  all:
    providers:
      mpi: [openmpi]
      blas: [openblas]
      lapack: [openblas]
